.form-box{
    width: 100%;
}
    form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  textarea {
    resize: vertical; 
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #2d41a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: darkblue;
  }
  
  .cancel-button {
    padding: 10px 20px;
    background-color: rgb(255, 0, 64);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: darkred;
  }